body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p {
    width: 25%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alt {
    flex-direction: column-reverse;
}
img {
    max-width: 250px;
}