/* * {
    border: 1px dotted red;
} */

body {
    background-color: #5969af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 250px;
}
header, footer, #main {
    width: 95%;
    background-color: #ffe4c48a;
    min-height: 100px;
    margin: 20px;
}
#main, header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main, header {
    padding: 2em 1em;
}
hr {
    height: 10px;
    background-color: #5f9ea0;
    width: 95%;
}
.section {
    background-color: #5f9ea0;
    width: 95%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button {
    border-radius: 50%;
}
#profilePic {
    border-radius: 50%;
    max-width: 200px;
    margin: 1em;
    z-index: 8;
}
.showHide {
    display: flex;
    align-items: center;
    width: 220px;
}
#hide {
    border-radius: 50%;
    max-width: 200px;
    margin: 1em;
    margin-right: -13.5em;
    z-index: 4;
}
#about {
    max-width: 500px;
    margin: 1em;
}
.cats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 20px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.ticTacToe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    align-items: center;
}
.gameRestart {
    border-radius: 0;
    margin: 1em;
}